body {
    background-color: lightskyblue;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}

header {
    align-items: center;
    text-align: center;
    background-color: coral;
    border-radius: 10px;
}

div {
    margin: 20;
    padding: 10;
}